
body {
  height: 100%;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1fvU2anjKAZz5rD_MHzrzY1xVLUyS9FATcQ4cJJ4TqCaZBlDW&s);
  padding-top:0px;
  background-size:cover;
  width:100%;
}
#navigation{
    background-color: #0004;
}
.navbar-brand{
  color: white;
  margin-left: 50PX;
}
.nav-item {
  color: white;
}
.sec1,.sec2{
    height: 50%;
}

h1{
  padding-left: 30%;
  padding-right: 25%;
  padding-top: 70px;
  font-size: 50px;
  color: white;
  
}
h2{
  padding-left: 35%;
  padding-right: 25%;
  font-size: 30px;
  color: white;
}
.btn{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 45%;
  padding-left: 20px;
  padding-right: 20px;
  background-color:rgb(233, 54, 218);
  border-radius: 50px;
  font-size: 20px;
  color: white;
  
}
.row{
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.image-circle{
  border-radius: 50%;
  height:300px;
  width:300px;
}