
html,body {
  height: 100%;
  background-image:url(https://media.licdn.com/dms/image/C4D1BAQFWjIfRaBYfwQ/company-background_10000/0?e=2159024400&v=beta&t=lsJgASyGi0iCKNlBbEV5hduAScV-p2xd4qvEbUkt6FY);
  padding-top:0px;
  background-size:cover;
  max-width: 100%;
  overflow-x: hidden;
}
#navigation{
    background-color: #0005;
}
.navbar-brand{
  color: white;
  margin-left: 100PX;
}
a{
  color: white;
}
.right {
  color: white;
  margin-right: 100px;
}
.sec1{
    height:400px;
}
.sec2{
  height:300px;
}
h1{
  padding-left: 25%;
  padding-right: 20%;
  padding-top: 60px;
  font-size: 60px;
  color: white;
  
}
h2{
  padding-left: 30%;
  padding-right: 25%;
  font-size: 35px;
  color: white;
}
.btn{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 45%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:rgb(241, 64, 123);
  border-radius: 50px;
  font-size: 18px;
  color: white;
  
}
.row{
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
#head{
  color: black;
  font-size: 32px;
  padding-bottom: 20px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.left{
  padding-top: 80px;
}
.image-circle{
  border-radius: 50%;
  height:300px;
  width:300px;
}