
body {
  height: 100%;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1fvU2anjKAZz5rD_MHzrzY1xVLUyS9FATcQ4cJJ4TqCaZBlDW&s);
  padding-top:0px;
  background-size:cover;
  width:100%;
}
#navigation{
    background-color: #0005;
}
.navbar-brand{
  color: white;
  margin-left: 100PX;
}
.right {
  color: white;
  margin-right: 100px;
}
.sec1{
    height:350px;
}
.sec2{
  height:300px;
}
h1{
  padding-left: 30%;
  padding-right: 25%;
  padding-top: 70px;
  font-size: 50px;
  color: white;
  
}
h2{
  padding-left: 35%;
  padding-right: 25%;
  font-size: 30px;
  color: white;
}
.btn{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 45%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:rgb(241, 64, 123);
  border-radius: 50px;
  font-size: 14px;
  color: white;
  
}
.row{
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
#head{
  color: black;
  font-size: 32px;
  padding-bottom: 20px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.left{
  padding-top: 80px;
}
.image-circle{
  border-radius: 50%;
  height:300px;
  width:250px;
}